body {
    background-color: #0d2b67;
    color: #fff;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    font-size: 1rem;
    margin: 0.5rem;
    width: 10%;
}

li {
    list-style: none;
    margin: 0.5rem;
}

h3:hover {
    cursor: pointer;
}

#values-container #slope-container {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
}

.values {
    margin: 1rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}